<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <meta name="description" content="The Message Board project from The Odin Project.">
    <meta name="author" content="Pablo Porta">
    <link rel="icon" href="icons8-letter-color-96" />
  </head>
</head>
<body> 
    Test
</body>