<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <meta name="description" content="The Message Board project from The Odin Project.">
    <meta name="author" content="Pablo Porta">
    <link rel="icon" href="LetterIcon.png" />
    <link rel="stylesheet" href="styles.css">
  </head>
</head>
<body> 
    <nav class="nav">
        <h1 class="title">Message Board:</h1>
        <a id="First-Button" href="/">BOARD</a>
        <a id="Second-Button" href="/new">NEW</a>
    </nav>
    <div class="container">
        <textarea placeholder="Who are you?" id="textareaAuthor" cols="30" rows="10"></textarea>
        <textarea placeholder="Write your message..." id="textareaMessage" cols="30" rows="10"></textarea>
    </div>
</body>